.cont {
  position: absolute;
  top: 0;
  padding-top: 50px;
  left: 0;
  width: 100%;
}
#videoplay {
  position: absolute;
  z-index: 1;
  object-fit: scale-down;
  width: 100%;
  video {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
}

#content-form {
  padding: 20px;
  padding-top: 20px;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  height: 470px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.form-control {
  opacity: 0.9;
}

select {
  color: #a1a1a1;
}
option {
  color: #000;
}
option:first-child {
  color: #a1a1a1;
}

::placeholder {
  color: #a1a1a1;
}

.btn-search {
  text-align: center;
  margin-top: 7px;
}
