
<section class="cont">

  <div id="videoplay">
    <video preload="auto" autoplay muted loop="loop" playsinline="playsinline" id="video">
      <source src="../../assets/mainvideo_1.mp4" type="video/mp4">
    </video>

    <div id="content-form">
      <h2><p class="zag" align="center">Хотите снять или положить деньги?</p></h2>
      <h5><p class="zag" align="center">Найдите банкомат или магазин, в котором можно снять деньги на кассе</p></h5>




      <ng-select class="custom"  [items]="banks"
                 placeholder="Выберите банк"
      >
      </ng-select>


      <p></p>



      <ng-select class="custom"  [items]="destinations"
                   [loading]="geolocationLoading"
                   [typeahead]="searchBox$"
                   bindLabel = "GeoObject.name"
                   bindValue = "GeoObject.Point.pos"
                   [(ngModel)]="selectGeo"
                 placeholder="Введите улицу"
                 typeToSearchText="Начните вводить улицу, чтобы начать поиск"
                 notFoundText="По Вашему запросу ничего не найдено :("
                   >
        <ng-template ng-option-tmp  let-item="item"  >
          {{item.GeoObject.description}} - {{item.GeoObject.name}}
        </ng-template>

      </ng-select>

      <p></p>

      <ng-select class="custom"  [items]="kms"
                 placeholder="Выберите расстояние"
      >
      </ng-select>


      <p></p>
      <ng-select class="custom"  [items]="techs"
                 placeholder="Выберите технологию"
      >
      </ng-select>

     <p></p>
      <div class="btn-search">
        <a (click)="onSearch($event)" routerLink="/search"> <button mdbBtn type="button" gradient="peach" size="lg" mdbWavesEffect>Найти</button> </a>
      </div>
    </div>

  </div>
</section>
