<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Банкомат №1</h5>
      <small>~1 км</small>
    </div>
    <p class="mb-1">Адрес</p>
    <small>Время работы</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Банкомат №2</h5>
      <small class="text-muted">~3 км</small>
    </div>
    <p class="mb-1">Адрес</p>
    <small class="text-muted">Время работы</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Банкомат №3</h5>
      <small class="text-muted">~4 км</small>
    </div>
    <p class="mb-1">Адрес</p>
    <small class="text-muted">Время работы</small>
  </a>
</div>



<router-outlet></router-outlet>
