.link
{
  color:black;

}
 footer {
//  position: fixed;
 height: 60px;
  //top: 90%;
  //bottom: 0px;
  //width: 100%;
   background-color: whitesmoke;
}
 .container{
   margin-top: 10px;
   margin-bottom: 0px;
 }
