<footer class=" font-small pt-4">

  <div class="container">

    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" href="https://vk.com/mastercard" target="_blank">
          <i class="fa fa-vk link"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1" href="https://www.facebook.com/mastercardrussia" target="_blank">
          <i class="fa fa-facebook-square link"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1" href="https://twitter.com/MasterCard_Ru" target="_blank">
          <i class="fa fa-twitter link"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="http://www.linkedin.com/company/mastercard" target="_blank">
          <i class="fa fa-linkedin link"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1" href="http://www.youtube.com/user/MasterCard" target="_blank">
          <i class="fa fa-youtube-play link"></i>
        </a>
      </li>
    </ul>

  </div>

</footer>
